body {
    background-color: #A0C3D2;
    }
    
    hr {
    border-style: none;
    border-top-style: dotted;
    border-color: gray;
    border-width: 5px;
    width: 5%;
    }

    h1 {
        color: #473C33;
        text-align: center;
    }

    h3 {
        color: #473C33;
        text-align: center;
    }

    td {
        text-align: center;
        padding: 4px 5px 4px 5px;
    }